services:
  ollama:
    hostname: ollama
    container_name: Tiktokker
    build: ./
    command: bash -c "ollama serve & sleep 5 && ollama pull llama2-uncensored && wait"
    volumes:
      - ollama:/app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
volumes:
  ollama: